{% load static %}
<div class="sticky">
                    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                    <aside class="app-sidebar">
                        <div class="side-header">
                            <a class="header-brand1" href="{% url 'task:index' %}">
{#                                <img src="{% static 'images/brand/logo.png' %}" class="header-brand-img desktop-logo" alt="logo">#}
{#                                <img src="{% static 'images/brand/logo-1.png' %}" class="header-brand-img toggle-logo" alt="logo">#}
{#                                <img src="{% static 'images/brand/logo-2.png' %}" class="header-brand-img light-logo" alt="logo">#}
{#                                <img src="{% static 'images/brand/logo-3.png' %}" class="header-brand-img light-logo1" alt="logo">#}
                               <span class="h3 desktop-logo"> TM</span>
                            </a>
                            <!-- LOGO -->
                        </div>
                        <div class="main-sidemenu">
                            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                                </svg></div>
                            <ul class="side-menu">
                                <li class="sub-category">
                                    <h3>Main</h3>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'task:index' %}"><i class="side-menu__icon fe fe-monitor"></i><span class="side-menu__label">Dashboard</span></a>
                                </li>
                                <li class="sub-category">
                                    <h3>Tasks</h3>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item {% if request.path == '/tasks-calendar/' %}active{% endif %}" data-bs-toggle="slide" href="{% url 'task:tasks_calendar' %}"><i class="side-menu__icon fe fe-calendar"></i><span class="side-menu__label">Tasks in Calender</span></a>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item {% if request.path == '/tasks-map/' %}active{% endif %}" data-bs-toggle="slide" href="{% url 'task:tasks_map' %}"><i class="side-menu__icon fe fe-map-pin"></i><span class="side-menu__label">Tasks in Map</span></a>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item {% if request.path == '/tasks-evaluation/' %}active{% endif %}" data-bs-toggle="slide" href="{% url 'task:tasks_evaluation' %}"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Tasks Evaluation</span></a>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item {% if request.path == '/kanban/' %}active{% endif %}" data-bs-toggle="slide" href="{% url 'task:kanban' %}"><i class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">Tasks Progress</span></a>
                                </li>
                            </ul>
{#                            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"#}
{#                                    width="24" height="24" viewBox="0 0 24 24">#}
{#                                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />#}
{#                                </svg></div>#}
                        </div>
                    </aside>
                </div>